<!-- Show User Comments -->
<% @place.comments.each do |comment| %>
  <div class="col-xs-12 col-sm-6">
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
      <small class="hidden-xs"><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>
<!-- End Show User Comments -->
